# Deep Learning for tabular data using Pytorch

<b>Dataset</b> - https://www.kaggle.com/c/shelter-animal-outcomes

<b>Problem Statement</b>: Given certain features about a shelter animal (like age, sex, color, breed), predict its outcome.

There are 5 possible outcomes: Return_to_owner, Euthanasia, Adoption, Transfer, Died. We are expected to find the probability of an animal's outcome belonging to each of the 5 categories.

## Library imports

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import torch
from torch.utils.data import Dataset, DataLoader
import torch.optim as torch_optim
import torch.nn as nn
import torch.nn.functional as F
from torchvision import models
from datetime import datetime

## Load Data

#### Training set

In [2]:
train = pd.read_csv('Data/train_animal.csv')
print("Shape:", train.shape)
train.head()

Shape: (26729, 10)

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

#### Test set

#### Sample submission file

For each row, each outcome's probability needs to be filled into the columns

## Very basic data exploration

#### How balanced is the dataset?

Adoption and Transfer seem to occur a lot more than the rest

#### What are the most common names and how many times do they occur?

There are a lot of NaN values. Name might not be a very important factor then.

## Data preprocessing

OutcomeSubtype column seems to be of no use, so we drop it. Also, sice animal ID unique, it doesn't help in training.

#### Stacking Train and Test sets so that they undergo the same preprocessing

#### splitting Datetime into Month and Year

#### Dropping columns with too many nulls

#### Label encoding

#### Splitting back train and test

#### Encoding target

#### Split of train-valid

#### Choosing columns for embedding

#### Determining size of embedding

## Pytorch Dataset

## Making device (GPU/CPU) compatible 

In order to make use of a GPU if available (more [here](https://jovian.ml/aakashns/04-feedforward-nn)), we'll have to move our data and model to it and for that we will produce some functions like:

## Model

#### Optimizer

#### Training function

#### Evaluation function

## Training

## Test Output