In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

## Create A `Series` Object

In [2]:
# Create series String

In [3]:
# Create series Ints
lottery = [4, 8, 15, 16, 23, 42]

In [4]:
# Create series Boolean
registrations = [True, False, False, False, True]

In [5]:
# Create Series from dict

## Create A `DataFrame` Object

### Dict

In [6]:
# First method to create DataFrame from [{},{},{}]

In [7]:
# Second method to create DataFrame from [{-:[],-:[],-:[]}, from_dict

### List

In [8]:
# Third method to create DataFrame from sales=[(),(),()] labels=['','','',''] from_records(sales, columns=labels)

### 4th method deprecated - Don't USE IT

In [9]:
# Fourth method to create DataFrame is DEPRECATED. Don't use it. 
# sales = ['',['','','']], ('',['','',''], etcX2 from_items(sales)

# Data Input Formats

In [10]:
#read_csv("Data/dollar_euro.txt", sep="\t")

In [11]:
#column_names =
#pd.read_csv("Data/countries_male_population.csv",

#pd.read_csv("Data/countries_female_population.csv",

#to_csv("Data/countries_total_population.csv")

In [12]:
# pd.read_csv("Data/titanic.csv")

In [13]:
# pd.to_excel("Data/titanic.xlsx", sheet_name="passengers", index=False)

In [14]:
# pd.read_excel("Data/titanic.xlsx", sheet_name="passengers")

## Working with JSON

In [15]:
# when JSON is a simple dict:

In [16]:
# when a list of dicts

In [17]:
# when JSON is a nested list

In [18]:
# when errors like nan

## <i>Exploring the NBA data</i>

In [19]:
nba = pd.read_csv("Data/nba.csv")
nba.columns
nba.count
nba.head(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

# <b> More useful for data analysis is manipulating A `Dataframe` Object </b>

## Some shared methods and attributes with `Series`

In [20]:
#front

In [21]:
#end

In [22]:
#idx

In [23]:
#values

In [24]:
#columns

In [25]:
# Take one column .Team

In [26]:
# Take one column 'Team'

In [27]:
#dtypes.value_counts

## Same `Series` attributes

In [28]:
nba_series = pd.read_csv("Data/nba.csv", usecols = ["Name"], squeeze = True)

In [29]:
# nba_series.values
# nba_series.index
# nba_series.dtype
# nba_series.value_counts()
# nba_series.value_counts().sum()
# nba_series.count()
# nba_series.is_unique
# nba_series.ndim

In [30]:
# s = pd.Series([1.0, 2.0, 2.0, 243.0])

## Select one column from A `DataFrame` Object

In [31]:
# nba_one['Team'] vs nba_one[["Team"]]
nba_one = pd.read_csv("Data/nba.csv")

## Select two or more columns from A `DataFrame` Object

In [32]:
# Team, Name | Number, College | 'Salary', 'Team', 'Name'
nba = pd.read_csv("Data/nba.csv")

## Add a new column to A `DataFrame` Object

## <b> Time to look at the exercises </b>

# Indexing and Filtering

In [33]:
nba = pd.read_csv("Data/nba.csv")

### Selecting

In [34]:
#Pasirenki viena stulpeli per ''

In [35]:
#Pasirenki viena stulpeli per .stulpelis

In [36]:
#Pasirenki dvi eilutes Name ir Teams per [[]]

### The `.value_counts()` method

In [37]:
#3 budai

## The `.astype()` method &  `.unique()` and `.nunique()` methods

In [38]:
#2/3 budai

nba.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

## Filter A `DataFrame` Based On A Condition

## Filter with More than One Condition (AND)

## Filter with More than One Condition (OR)

## Retrieve Rows by Index Label with `.loc[]`

In [39]:
nba = pd.read_csv("Data/nba.csv")

In [40]:
# another method to set index

nba.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

### Slicing

In [41]:
nba.reset_index(drop=True, inplace=True)

## Retrieve Row(s) by Index Position with `iloc[]`

In [42]:
nba = pd.read_csv("Data/nba.csv")

In [43]:
nba = pd.read_csv("Data/nba.csv")
# nba.sort_index(inplace = True)
# nba.head(22)

In [44]:
# nba.iloc[100:300]

## Create a new column & get biggest values

In [45]:
nba = pd.read_csv("Data/nba.csv")


# or

In [46]:

nba.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

## Set filters in `DataFrame` through `loc`

In [47]:
nba = pd.read_csv("Data/nba.csv")
# nba.set_index("Name", inplace = True)

In [48]:

# or

## Methods on the `.groupby()` method and `DataFrame` columns

In [49]:
nba = pd.read_csv("Data/nba.csv")

In [50]:
#get_group

In [51]:
#max(), min(), sum(), mean()

## Grouping by Multiple Columns

In [52]:
nba = pd.read_csv("Data/nba.csv")

## Iterating through Groups

In [53]:
nba = pd.read_csv("Data/nba.csv")

In [54]:
nba = pd.DataFrame(columns = nba.columns)
# nba

In [55]:
nba = pd.read_csv("Data/nba.csv")

## The `.agg()` Method

In [56]:
nba = pd.read_csv("Data/nba.csv")
teams=nba.groupby("Team")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

## Quick look at the Visualisations

In [57]:
# Creating a Series plot

In [58]:
# Creating a DF bar plot

In [59]:
# Creating a DF histogram plot

In [60]:
# Creating a DF scatter plot

In [61]:
# Creating a DF area plot

In [62]:
# Creating a Series pie plot

## <b> Time to look at the exercises </b>