1. Write a Pandas program to join the two given dataframes along rows and assign all data. <br>
Data: student_data1, student_data2 respectively given

|| student_id | name | marks |
| --- | --- | --- | --- |
0 | S1 | Danniella Fenton | 200 |
1 | S2 | Ryder Storey | 210 |
2 | S3 | Bryce Jensen | 190 |
3 | S4 | Ed Bernal | 222 |
4 | S5 | Kwame Morin | 199 |

|| student_id | name | marks |
| --- | --- | --- | --- |
0 | S1 | Scarlette Fisher  | 201 |
1 | S2 | Carla Williamson | 200 |
2 | S3 | Dante Morse | 198 |
3 | S4 | Kaiser William | 219 |
4 | S5 | Madeeha Preston | 201 |

2. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id. <br>
Data: student_data1, student_data2 & exam_data respectively given.


|| student_id | name | marks |
| --- | --- | --- | --- |
0 | S1 | Danniella Fenton | 200 |
1 | S2 | Ryder Storey | 210 |
2 | S3 | Bryce Jensen | 190 |
3 | S4 | Ed Bernal | 222 |
4 | S5 | Kwame Morin | 199 |


|| student_id | name | marks |
| --- | --- | --- | --- |
0 | S1 | Scarlette Fisher  | 201 |
1 | S2 | Carla Williamson | 200 |
2 | S3 | Dante Morse | 198 |
3 | S4 | Kaiser William | 219 |
4 | S5 | Madeeha Preston | 201 |


|| student_id | exam_id |
| --- | --- | --- |
0 | S1 | 201 |
1 | S2 | 200 |
2 | S3 | 198 |
3 | S4 | 219 |
4 | S5 | 201 |
5 | S7 | 201 |
6 | S8 | 200 |
7 | S9 | 198 |
8 | S10 | 219 |
9 | S11 | 201 |
10 | S12 | 201 |
11 | S13 | 200 |

3. Write a Pandas program to join the two dataframes with matching records from both sides where available. <br>
Data: student_data1, student_data2 respectively given


|| student_id | name | marks |
| --- | --- | --- | --- |
0 | S1 | Danniella Fenton | 200 |
1 | S2 | Ryder Storey | 210 |
2 | S3 | Bryce Jensen | 190 |
3 | S4 | Ed Bernal | 222 |
4 | S5 | Kwame Morin | 199 |

|| student_id | name | marks |
| --- | --- | --- | --- |
0 | S1 | Scarlette Fisher  | 201 |
1 | S2 | Carla Williamson | 200 |
2 | S3 | Dante Morse | 198 |
3 | S4 | Kaiser William | 219 |
4 | S5 | Madeeha Preston | 201 |

4. Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.

5. Write a Pandas program to merge two given dataframes with different columns. <br>
Data: data1 & data2


|| key1 | key2 | P | Q |
| --- | --- | --- | --- | --- |
0 | K0 | K0 | P0 | Q0 |
0 | K0 | K1 | P1 | Q1 |
0 | K1 | K0 | P2 | Q2 |
0 | K2 | K1 | P3 | Q3 |


|| key1 | key2 | R | S |
| --- | --- | --- | --- | --- |
0 | K0 | K0 | R0 | S0 |
0 | K1 | K0 | R1 | S1 |
0 | K1 | K0 | R2 | S2 |
0 | K2 | K0 | R3 | S3 |