1. Write a Pandas program to find and replace the missing values in a given DataFrame which do not have any valuable information. <br>
Hint: Use learnt np.nan values where it is NaN or similar in the given table.

Example: <br>
Missing values: ?, -- <br>
Replace those values with NaN <br>

Test Data: <br>

 ord_no, purch_amt, ord_date, customer_id, salesman_id <br>
0, 70001, 150.5, ?, 3002, 5002 <br>
1, NaN, 270.65, 2012-09-10, 3001, 5003 <br>
2, 70002, 65.26, NaN, 3001, ? <br>
3, 70004, 110.5, 2012-08-17, 3003, 5001 <br>
4, NaN, 948.5, 2012-09-10, 3002, NaN <br>
5, 70005, 2400.6, 2012-07-27, 3001, 5002 <br>
6, --, 5760, 2012-09-10, 3001, 5001 <br>
7, 70010, ?, 2012-10-10, 3004, ? <br>
8, 70003, 12.43, 2012-10-10, --, 5003 <br>
9, 70012, 2480.4, 2012-06-27, 3002, 5002 <br>
10, NaN, 250.45, 2012-08-17, 3001, 5003 <br>
11, 70013, 3045.6, 2012-04-25, 3001, --

2. Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values. Hint: You'll need 'subset' keyword
|| ord_no | purch_amt | ord_date | customer_id |
| --- | --- | --- | --- | --- |
0    |   NaN|        NaN |        NaN |          NaN |
1     |  NaN |    270.65|  2012-09-10   |    3001.0 |
2 |  70002.0  |    65.26   |      NaN    |   3001.0 |
3  |     NaN   |     NaN  |       NaN     |     NaN |
4   |    NaN    | 948.50 | 2012-09-10      | 3002.0 |
5   |70005.0|    2400.60|  2012-07-27|       3001.0 |
6    |   NaN |   5760.00  |2012-09-10 |      3001.0 |
7  | 70010.0  |  1983.43 | 2012-10-10  |     3004.0 |
8 |  70003.0   | 2480.40|  2012-10-10   |    3003.0 |
9  | 70012.0    | 250.45 | 2012-06-27    |   3002.0 |
10  |    NaN     |75.29|  2012-08-17    |  3001.0 |
11 |     NaN |       NaN |        NaN   |       NaN |

3. You developed a multiplayer indie game called ðŸŒ¹ Rose Thorn. Players compete in one of two venues - the ocean or the desert. You track the outcome of five games between three players in a DataFrame called games.

In [4]:
import numpy as np
import pandas as pd

games = pd.DataFrame({
    'bella1':   ['2nd', '3rd', '1st', '2nd', '3rd'],
    'billybob': ['1st', '2nd', '2nd', '1st', '2nd'],
    'nosoup4u': ['3rd', '1st', '3rd', '3rd', '3rd'],
    'venue': ['desert', 'ocean', 'desert', 'ocean', 'desert']
})

games

  bella1 billybob nosoup4u   venue
0    2nd      1st      3rd  desert
1    3rd      2nd      1st   ocean
2    1st      2nd      3rd  desert
3    2nd      1st      3rd   ocean
4    3rd      2nd      3rd  desert

Now you want to analyze the data. Convert the `games` DataFrame into a new DataFrame that identifies how many times each (`player`, `placement`) occurs per `venue`, specifically with `venue` as the row index and (`player`, `placed`) as the column MultiIndex.

4. You run an ecommerce site called shoesfordogs.com . You want to analyze your visitors, so you compile a DataFrame called hits that represents each time a visitor hit some page on your site.

In [5]:
import numpy as np
import pandas as pd

# exposed places
exposed = [0,5,9]

# whereabouts of each person
generator = np.random.default_rng(2468)
Nplaces = 10
Npersons = 10
place_ids = np.arange(Nplaces)
visits = generator.choice(place_ids, size=3*Nplaces, replace=True)
split_idxs = np.sort(generator.choice(len(visits), size=9, replace=True))
whereabouts = pd.DataFrame({
    'person_id': range(Npersons),
    'places': [np.unique(x).tolist() for x in np.array_split(visits, split_idxs)]
})

whereabouts

   person_id              places
0          0        [3, 4, 5, 6]
1          1                  []
2          2                 [3]
3          3           [6, 8, 9]
4          4                 [3]
5          5  [0, 2, 5, 6, 7, 8]
6          6              [2, 7]
7          7        [0, 5, 8, 9]
8          8           [2, 7, 9]
9          9        [0, 5, 8, 9]

For each `person`, identify the `places` they visited which have been `exposed`. Make this a new list-column in `whereabouts` called `exposures`.

5. You run an ecommerce site called shoesfordogs.com . You want to analyze your visitors, so you compile a DataFrame called hits that represents each time a visitor hit some page on your site.

In [6]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

generator = np.random.default_rng(90)
products = ['iev','pys','vae','dah','yck','axl','apx','evu','wqv','tfg','aur','rgy','kef','lzj','kiz','oma']
hits = pd.DataFrame({
    'visitor_id': generator.choice(5, size=20, replace=True) + 1,
    'session_id': generator.choice(4, size=20, replace=True),
    'date_time': pd.to_datetime('2020-01-01') + pd.to_timedelta(generator.choice(60, size=20), unit='m'),
    'page_url': [f'shoesfordogs.com/product/{x}' for x in generator.choice(products, size=20, replace=True)]
})
hits['session_id'] = hits.visitor_id * 100 + hits.session_id

You suspect that the undocumented third-party tracking system on your website is buggy and sometimes splits one session into two or more session_ids. You want to correct this behavior by creating a field called session_group_id that stitches broken session_ids together.

Two session, A & B, should belong to the same session group if <br>
 - They have the same visitor_id and <br>
    - Their hits overlap in time or <br>
    - The latest hit from A is within five minutes of the earliest hit from B, or vice-versa <br>

<b>Associativity applies.</b> So, if A is grouped with B, and B is grouped with C, then A should be grouped with C as well.

Create a column in hits called session_group_id that identifies which hits belong to the same session group.