1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of integers (2,4,6,8,10) using Pandas module.

2. Write a Pandas program to add, subtract, multiple and divide two Pandas Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9].

3. Write a Pandas program to compare the elements of the two Pandas Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10].

4. Write a Pandas program to convert a NumPy array to a Pandas series.

5. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

Sample DataFrame: <br>
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], <br>
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], <br>
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], <br>
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} <br>
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

6. Write a Pandas program to convert index of a given dataframe into a column. 
Note: not taught yet, so will you figure it out?
Test Data: <br>
<br>
0        s001     V  Alberto Franco     15/05/2002      35  street1   t1<br>
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2<br>
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3<br>
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4<br>
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5<br>
5        s004    VI    David Parkes     15/09/1997      32  street4   t6<br>